@import "src/theme/base";
@import "src/ui/typography/variables";

.home {
  display: block;

  &__intro {
    margin-bottom: $space-xl;
    font-weight: $font-weight-regular;

    strong {
      font-weight: $font-weight-bold;
    }
  }

  &__border-column {
    height: 100%;
    border: 2px solid var(--color-typography-text);
    border-radius: $border-radius;
    padding: $space-default;

    &--title {
      min-height: 98px;
    }
  }
}
