@font-face {
  font-weight: normal;
  font-family: "icomoon";
  font-style: normal;
  src: url("/icons/icomoon.eot?keanfb");
  src: url("/icons/icomoon.eot?keanfb#iefix") format("embedded-opentype"),
    url("/icons/icomoon.ttf?keanfb") format("truetype"), url("/icons/icomoon.woff?keanfb") format("woff"),
    url("/icons/icomoon.svg?keanfb#icomoon") format("svg");
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-weight: normal;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
