$fontSize: 16px;

$space-xxxxs: calc(0.125 * $fontSize);
$space-xxxs: calc(0.25 * $fontSize);
$space-xxs: calc(0.375 * $fontSize);
$space-xs: calc(0.5 * $fontSize);
$space-sm: calc(0.75 * $fontSize);
$space-md: calc(1.25 * $fontSize);
$space-lg: calc(2 * $fontSize);
$space-xl: calc(3.25 * $fontSize);
$space-xxl: calc(5.25 * $fontSize);
$space-xxxl: calc(8.5 * $fontSize);
$space-xxxxl: calc(13.75 * $fontSize);
